<mat-toolbar color="primary">
  <mat-icon>event_note</mat-icon>
  <span>Evidencija skladišta Tehshopa</span>
</mat-toolbar>

<div class="content-wrapper">
  <br><br>

  <div class="container-wrapper">
    <div class="container">
      <h1>Evidencija mobitela</h1>

      <button mat-button (click)="noviMobitel()">
        <mat-icon>add</mat-icon> Dodaj mobitel</button><br><br>

      <button mat-button (click)="sort('id1')">  Sort<i class="fa fa-sort"></i></button><br><br>
      <mat-card class="list" id="mobiteli">
        <p class="empty-label" *ngIf="(mobiteli | async)?.length === 0">
          Nema proizvoda
        </p>
        <app-mobitel
          (edit)="editMobitel('mobiteli', $event)"
          *ngFor="let mobitel of mobiteli | async | orderBy: key: reverse" 
          [mobitel]="mobitel"
        ></app-mobitel>
      </mat-card>
    </div>

    <div class="container">
      <h1>Evidencija televizora</h1>

      <button (click)="noviTv()" mat-button>
        <mat-icon>add</mat-icon> Dodaj televizor</button><br><br>

      <button mat-button (click)="sort2('id2')">  Sort<i class="fa fa-sort"></i></button><br><br>
      <mat-card id="tvi" class="list">
        <p class="empty-label" *ngIf="(tvi | async)?.length === 0">
          Nema proizvoda
        </p>
        <app-tv
          (edit)="editTv('tvi', $event)"
          *ngFor="let tv of tvi | async | orderBy: key2: reverse2"
          [tv]="tv"
        ></app-tv>
      </mat-card>
    </div>

    <div class="container">
      <h1>Evidencija laptopa</h1>

      <button (click)="noviLaptop()" mat-button>
        <mat-icon>add</mat-icon> Dodaj laptop
      </button><br><br>
      
      <button mat-button (click)="sort3('id3')">  Sort<i class="fa fa-sort"></i></button><br><br>
    
      <mat-card id="laptopi" class="list">

        <p class="empty-label" *ngIf="(laptopi | async)?.length === 0">
          Nema proizvoda
        </p>
        <app-laptop
          (edit)="editLaptop('laptopi', $event)"
          *ngFor="let laptop of laptopi | async | orderBy: key3: reverse3"
          [laptop]="laptop"
        ></app-laptop>
        
      </mat-card>
    </div>
  </div>
</div>




