<mat-form-field>
    <mat-label>Cijena</mat-label>
    <textarea matInput [(ngModel)]="data.laptop.cijena"></textarea>
  </mat-form-field>
  
  <mat-form-field>
    <mat-label>Isporuka</mat-label>
    <textarea matInput [(ngModel)]="data.laptop.isporuka"></textarea>
  </mat-form-field>
   
  <mat-form-field>
    <mat-label>Nadopuna</mat-label>
    <textarea matInput [(ngModel)]="data.laptop.nadopuna"></textarea>
  </mat-form-field>
    
      
      <div mat-dialog-actions>
        <button mat-button [mat-dialog-close]="{ laptop: data.laptop }">OK</button>
        <button mat-button (click)="cancel()">Cancel</button>
        <button 
          *ngIf="data.enableDelete"
          mat-fab
          color="primary"
          aria-label="Delete"
          [mat-dialog-close]="{ laptop: data.laptop, delete: true }">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
